body{
    background-color: cyan;
    display: grid;
    place-items: center;
  }
  
  h1{
      text-align: center;
      font-size: 70px;
    }

  img{
      width: 250px;
      border-radius: 10px;
  }

  .apresent{
    font-size: 20px;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
  }
  
  .post, .postSpike{
    margin-top: 15px;
    margin-left: 250px;
    margin-right: 250px;
    display: flex;
    text-align: justify;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: 20px;
  }

  .paragPost, .paragPostSpike{
    font-size: 17px;
    margin-left: 18px;
  }

  footer{
    margin-left: 250px;
  }

  .myPhoto{
    margin-top: 24px;
    width: 70px;
    border-radius: 1000;
  }
  

  @media screen and ( max-width: 768px ) {

    body{
      background-color: cyan;
    }

    h1{
        margin-left: -210px;
        font-size: 30px;
      }
  
    img{
        width: 180px;
        border-radius: 10px;
    }
  
    .apresent{
      font-size: 14px;
      margin-left: 8px;
      margin-right: 220px;
      text-align: center;
    }
    
    .post, .postSpike{
      margin-top: 22px;
      margin-left: 45px;
      display: block;
      text-align: justify;
    }
  
    .paragPost, .paragPostSpike{
      font-size: 14px;
      margin-left: 3px;
    }

   footer{
    margin-left: 50px;
   }
  
    .myPhoto{
      margin-top: 10px;
      width: 60px;
      border-radius: 1000;
    }
  }